<header>
    <div class="navbar navbar-add flex-between">
        <h2><a href="/" style="text-decoration:none">BandWagon</a></h2>
        <section class='navigation'>
            <ul class="nav-item-wrapper">
                <li>
                    <a class="navitems" href="/">SEARCH</a>
                </li>
                <li>
                    <a class="navitems" href="portfolio.html">HELP</a>
                </li>
                <li>
                    <a class="navitems" id='signUp_button'>SIGN IN</a>
                </li>
            </ul>
        </section>
    </div>

</header>


<div>

    <div class="jumbotron text-center">
        <form ref='uploadForm'>


            <div class="contact-inner-wrapper">
                <div class="text-wrapper-form">
                    <h2>How Can we assist you?</h2>
                    <p class="lead">If you have any question , Dont hesitate to contact us ...</p>
                </div>
                <form class="form-control" action="mailto:maryamshokoohhi@gmail.com" method="post" id="form1">

                    <p class="form-label"> Fill up this form with any question you have</p>
                    <span class="flex-between">
                        <input class="inputContact" id="firstName" type="text" name="name" placeholder="First Name">
                        <input class="inputContact" id="lastName" type="text" name="name" placeholder="Last Name">
                    </span>

                    <input class="inputContact" id="input2" type="email" name="email" placeholder="email@">
                    <textarea type="text" name="comment" placeholder="Message"></textarea>

                    <span class="bottom-wrapper">
                        <p class="form-accept"></p>
                        <button type="submit" form="form1" value="Submit">Submit</button>
                    </span>
                </form>


            </div>



        </form>



    </div>

</div>












<!--

<section class="main3">
    <div class="contact-inner-wrapper">
        <div class="text-wrapper-form">
            <h2>How Can I assist you?</h2>
            <p class="lead">If you have any question , Dont hesitate to contact us ...</p>
        </div>
        <form class="form-control" action="mailto:takahiro04kawaguchi13@gmail.com" method="post" id="form1">

            <p class="form-label"> Fill up this form with any question you have</p>
            <span class="flex-between">
                <input class="inputContact" id="firstName" type="text" name="name" placeholder="First Name">
                <input class="inputContact" id="lastName" type="text" name="name" placeholder="Last Name">
            </span>

            <input class="inputContact" id="input2" type="email" name="email" placeholder="email@">
            <textarea type="text" name="comment" placeholder="Message"></textarea>

            <span class="bottom-wrapper">
                <p class="form-accept">I certify that the information above is true and accurate.</p>
                <button type="submit" form="form1" value="Submit">Submit</button>
            </span>
        </form>


    </div>

</section>

-->