
<div class="navbar navbar-add flex-between">
    <h2>BandWagon</h2>
    <section class='navigation'>
        <ul class="nav-item-wrapper">
            <li>
                <a class="navitems" href="/">SEARCH</a>
            </li>
            <li>
                <a class="navitems" href="portfolio.html">HELP</a>
            </li>
            <li>
                    <button class="navitems" id="signUp_button">SIGN IN</button>
            </li>
        </ul>
    </section>
</div>

<div class='email-make-wrapper'>
    <div>
        <h1>EMAIL</h1>
            <div class='email-wrapper container' style='height: 500px;'>
                <form group='i'>
                    {{!-- <div class="container"> --}}
                        <div>
                        <input type="radio" name="emailType" value="invitation"> Invitation
                        <input type="radio" name="emailType" value="promotion"> Promotion
                        <input type="radio" name="emailType" value="standard"> Standard
                        </div>
                </form>
                    
                <form group='i'>

                        <div class="email-form-content">
                        <label for="subject"><b>Subject: </b></label>
                        <input id='email_subject' type="text" name="subject">
                        </div>

                        <div class="email-form-content">
                        <label for="text"><b>Text: </b></label>
                        <input id='email_text' type="text" name="text">
                        </div>

                        <div class="email-form-content">
                        <label for="sender"><b>From: </b></label>
                        <input id='email_sender' type="text" name="sender">
                        </div>
                
                        <button id='sendEmail' type="submit" class="signupbtn">Send Eamil</button>
                </form>
                
            </div>
       

    </div>

    
	{{!-- {{ email }} --}}



    </div>


</div>