
<div class="navbar navbar-add flex-between">
    <h2>BandWagon</h2>
    <section class='navigation'>
        <ul class="nav-item-wrapper">
            <li>
                <a class="navitems" href="/">SEARCH</a>
            </li>
            <li>
                <a class="navitems" href="portfolio.html">HELP</a>
            </li>
            <li>
                    <button class="navitems" id="signUp_button">SIGN IN</button>
            </li>
        </ul>
    </section>
</div>

<div class='email-make-wrapper'>
    <div>
    
	{{!-- {{ email }} --}}



    </div>


</div>

<footer class="black-foot">
    <div class="footer-wrapper">
        <div class="component-wrapper-left">
            <a class="link-white" href="index.html">

            </a>
            <div class="icon-wrapper">
                <ul>
                    <li class="icon">
                        <a href="https://www.linkedin.com">
                            <i class="fab fa-linkedin fa-2x" alt="linkedin icon"></i>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://github.com/Project-Alpha-Team/OmegaProject">
                            <i class="fab fa-github fa-2x" alt="github icon"></i>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://www.facebook.com">
                            <i class="fab fa-facebook-square fa-2x" alt="facebook icon"></i>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://twitter.com">
                            <i class="fab fa-twitter-square fa-2x" alt="twitter icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="component-wrapper-right">


            <div class="fourth-footer">
                <h2>Who are we ?</h2>
                <br>
                <ul class="footer-contents">
                    <li>About Us</li>
                    <li>
                        <a href="./contact" style="text-decoration:none">Contact Us</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>